/* override placeholder color of bootstrap */

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  color: rgb(167, 164, 164);
}

.form-control:-ms-input-placeholder {
  color: red;
}

.form-control::-ms-input-placeholde{
  /* Microsoft Edge */
  color: red;
}
